<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Login')">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="wrapper">
    <div class="text-container">
        <h1>Log In</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                <label for="username">Username</label>
                <input id="username" name="username" type="text"/>
            </div>
            <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                <label for="password">Password</label>
                <input id="password" name="password" type="password"/>
            </div>
            <input type="submit" value="Log In"/>
        </form>
    </div>
</div>
<footer th:replace="partials :: footer"></footer>
</div>
<div th:replace="partials :: js"></div>
</body>
</html>