<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Profile')">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="wrapper container">
    <div class="text-container row justify-content-center">
        <div class="col-md-8 d-flex flex-column align-items-center">
            <h1 th:text="|Howdy, ${user.firstName}!|"></h1>
            <div class="container-background w-100">
                <h2>Profile</h2>
                <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                    <label class="m-2" for="username">Username</label>
                    <input disabled id="username" name="username" class="w-50" th:value="${user.username}"/>
                </div>

                <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                    <label class="m-2" for="first-name">First Name</label>
                    <input disabled id="first-name" name="firstName" class="w-50" th:value="${user.firstName}"/>
                </div>

                <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                    <label class="m-2" for="last-name">Last Name</label>
                    <input disabled id="last-name" name="lastName" class="w-50" th:value="${user.lastName}"/>
                </div>

                <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                    <label class="m-2" for="description">About me</label>
                    <textarea disabled id="description" name="description" class="w-50" th:text="${user.description}"></textarea>
                </div>
                <!--            <label for="profile-pic">Profile Picture</label>-->
                <!--            <input id="profile-pic" type="file" th:field="*{}" />-->
                <a href="/profile/edit" style="font-weight: bold; z-index: 1; background-color: #FCBF49; color: black;"
                   class="create-link btn-create btn-hover m-auto mb-3 w-50">Edit</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: js"></div>
</body>
</html>