<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Profile')">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="main-container">
  <div class="text-container">
    <h1 th:text="|Howdy, ${#authentication.principal.firstName}!|"></h1>
    <h2>Profile</h2>
      <label for="username">Email Address</label>
      <input disabled id="username" name="username" th:value="${#authentication.principal.username}" />

      <label for="first-name">First Name</label>
      <input disabled id="first-name" name="firstName" th:value="${#authentication.principal.firstName}" />

      <label for="last-name">Last Name</label>
      <input disabled id="last-name" name="lastName" th:value="${#authentication.principal.lastName}" />

      <label for="description">About me</label>
      <textarea disabled id="description" name="description" th:text="${#authentication.principal.description}" ></textarea>
    <a href="/profile/edit">Edit</a>
  </div>
  <footer th:replace="partials :: footer"></footer>
</div>
<div th:replace="partials :: js"></div>
</body>
</html>