<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Register')">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="wrapper container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-container">
                <h1>Create an account</h1>
                <div class="container-background">
                <form th:action="@{/register}" method="POST" th:object="${user}">
                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                        <label for="first-name">First Name</label>
                        <input required id="first-name" th:field="*{firstName}" />
                    </div>
                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                        <label for="last-name">Last Name</label>
                        <input required id="last-name" th:field="*{lastName}" />
                    </div>
                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                        <label for="username">Username</label>
                        <input required id="username" th:field="*{username}"/>
<!--                        <span th:text="${usernameError}" class="error-message"></span>-->
                    </div>
                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                        <label for="description">About me</label>
                        <textarea id="description" th:field="*{description}" cols="50" rows="4"></textarea>
                    </div>
<!--                    <br>-->
<!--                    <label for="profile-pic">Profile Picture</label>-->
<!--                    <input id="profile-pic" type="file" th:field="*{profilePictureUrl}" />-->
                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                        <label for="password">Password</label>
                        <div class="input-group justify-content-center">
                            <input required id="password" type="password" name="password" th:field="*{password}"/>
                            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password')">
                                <i class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
<!--                        <span th:text="${passwordError}" class="error-message"></span>-->
                    </div>
<!--                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">-->
<!--                        <label for="confirm-password">Confirm Password</label>-->
<!--                        <div class="input-group justify-content-center">-->
<!--                            <input id="confirm-password" type="password"/>-->
<!--                            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('confirm-password')">-->
<!--                                <i class="fa-regular fa-eye-slash"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <span th:text="${confirmPasswordError}" class="error-message"></span>-->
<!--                    </div>-->
                    <div class="mb-3 d-flex justify-content-center m-auto">
                        <button style="font-weight: bold; z-index: 1; background-color: #FCBF49; color: black;"
                                class="create-link btn-create btn-hover" type="submit">Register</button>
                    </div>
                </form>
                </div>
<!--                <input type="hidden" id="apiKey" th:value="${apiKey}">-->
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials :: footer"></footer>
<!--<script>const API_KEY = document.getElementById("apiKey").value;-->
<!--console.log(API_KEY);-->
<!--</script>-->
<div th:replace="partials :: js"></div>
</body>
</html>