<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head ('Welcome to my blog')}">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="main-container">
    <h1>TEAMS IN THE SANDLOT CONNECT LEAGUE</h1>
    <div th:each="team : ${teams}">
        <a th:href="@{/teams/{id} (id = ${team.id})}"><h1 th:text="${team.name}"></h1></a>
        <form th:action="@{/teams/{id}/notifications (id = ${team.id})}" method="post">
        <button sec:authorize="isAuthenticated()" th:value="${team.id}">Request To Join This Team</button><br>
        </form>
    </div>
    <div class="text-container"></div>
</div>
<a href="/teams/create">Create A Team</a>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: js"></div>
</body>
</html>