<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (Teams)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="header (header)">
    <h1 th:text="${header}">Sandlot Connect</h1>
</header>
<nav th:fragment="navbar">
    <a href="/" class="logo"></a>
</nav>
<h1>TEAMS IN THE SANDLOT CONNECT LEAGUE</h1>
<img class="logo" src="/static/img/tabernaclefamily.jpeg" alt="Tabernacle Family">
<p>Tabernacle Family</p>
<img class="logo" src="/static/img/cookstownbigdevils.jpg" alt="Cookstown Big Devils">
<figcaption>Cookstown Big Devils</figcaption>
<img class="logo" src="/static/img/red-dawgs.jpg" alt="Camden Red Dawgs">
<figcaption>Camden Red Dawgs</figcaption>
</body>
</html>