<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head (|${team.city} ${team.name}|)}"></head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<div class="wrapper">
    <div class="text-container">
        <div>
            <h1 th:text="${team.city} + ' ' + ${team.name}"></h1>
            <h2 th:text="'The team captain is ' + ${team.captain.firstName} + ' ' + ${team.captain.lastName}"></h2>
            <h2>Players</h2>
            <div class="container d-flex justify-content-center">
                <div class="row d-flex justify-content-space-around px-2">
                    <div th:each="user : ${team.users}"
                         class="col-md-2 m-3 d-flex flex-column justify-content-center align-items-center">
                        <div th:class="col">
                            <img th:if="${user.profilePictureUrl} != null" th:src="${user.profilePictureUrl}"
                                 alt="Profile picture"/>
                        </div>
                        <div class="col-md-1">
                            <img style="max-width: 75px; max-height: 75px;" th:if="${user.profilePictureUrl} == null"
                                 th:src="@{/img/baseball-svgrepo-com.svg}" alt="Default profile picture"/>
                            <p th:text="${user.firstName}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{partials :: footer}"></footer>
<div th:replace="~{partials :: js}"></div>
</body>
</html>