<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('About')">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<main class="container-fluid wrapper">
    <div class="container-background container">
        <h1 class="mt-5 text-center">About Us</h1>
        <section class="container about-us justify-content-center row">
            <div class="person col-md-4">
                <img th:src="@{/img/Screenshot 2023-03-13 at 1.57.32 PM.png}" alt="Shawn Wilson">
                <h3>Shawn Wilson</h3>
                <h4>Full Stack Developer</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/sb-son"><i
                            class="fab fa-github social-icon"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/shawnbwilson/"><i
                            class="fab fa-linkedin social-icon"></i></a></li>
                    <li class="list-inline-item"><a href=" https://alumni.codeup.com/students/1770"><i
                            class="fa-solid fa-user-graduate social-icon"></i></a></li>
                </ul>
                <p>Need a developer? Let's talk!</p>
            </div>
            <div class="person col-md-4">
                <img th:src="@{/img/Screenshot 2023-03-13 at 1.58.31 PM.png}" alt="Ralph McCloskey">
                <h3>Ralph McCloskey</h3>
                <h4>Full Stack Developer</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/Rafagithub135"><i
                            class="fab fa-github social-icon"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/ralph-mccloskey-899680a4/"><i
                            class="fab fa-linkedin social-icon"></i></a></li>
                    <li class="list-inline-item"><a href=" https://alumni.codeup.com/students/1440"><i
                            class="fa-solid fa-user-graduate social-icon"></i></a></li>
                </ul>
                <p>Need a developer? Let's talk!</p>
            </div>
            <div class="person col-md-4">
                <img th:src="@{/img/AP Javier Razo.jpg}" alt="Javier Razo">
                <h3>Javier Razo</h3>
                <h4>Full Stack Developer</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/EnderX1221"><i
                            class="fab fa-github social-icon"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/javier-razo-b47a291b7/"><i
                            class="fab fa-linkedin social-icon"></i></a></li>
                    <li class="list-inline-item"><a href=" https://alumni.codeup.com/students/1765"><i
                            class="fa-solid fa-user-graduate social-icon"></i></a></li>
                </ul>
                <p>Need a developer? Let's talk!</p>
            </div>
        </section>
    </div>
</main>

<footer th:replace="partials :: footer"></footer>

<div th:replace="partials :: js"></div>
</body>
</html>